body {
    text-align: center;
    background-color: rgb(233, 215, 207);
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 50px;
}

p {
    font-family: 'Fira Sans', sans-serif;
    color: blue;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#challenge-list {
    color: brown;
    font-size: 20px;
}